/**************** General style ************/
html {
    scroll-behavior: smooth;
    direction: ltr;
}

::-webkit-scrollbar {
    width: 10px;
}

::selection {
    background-color: #FE0000;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FE0000;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;

}

::-webkit-selection {
    background-color: #FE0000;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #FE0000;
}

body {
    font-family: "Almarai", sans-serif;
}

.main-color {
    color: #FE0000 !important;
}

/* any link to read */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

p {
    line-height: 1.8;
}

.btn {
    box-shadow: none;
    color: #fff;
    background-color: #FE0000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
}

.btn-no-modal {
    box-shadow: none;
    color: #f10909;
    border: 1px solid #FE0000;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn.white {
    background: #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.btn.reversed {
    background: transparent;
    border: 2px solid #FE0000;
}

.btn:hover {
    color: #fff;
}

.btn.white:hover {
    color: #000;
}


/* ************************************************************************************** */
/*--- navbar styling ---*/
.second-header {
    box-shadow: 4px 4px 12px 0 #00000033;
    margin-top: 1.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

}

header .navbar-light .second-header .navbar-nav .nav-link {
    color: #000;
}

header .navbar-light .second-header .navbar-nav .nav-link.btn,
header .navbar-light .second-header .navbar-nav .nav-link.cart-icon {
    color: #fff;
}

header .navbar.navbar-light .second-header .navbar-nav .active .nav-link {
    color: #FE0000;
}

header .navbar.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

header .navbar {
    background-color: transparent;
}

header .navbar-toggler {
    border-radius: 0;
}

header .navbar-toggler:focus {
    box-shadow: none;
}

header .navbar .navbar-service {
    margin-left: 1rem;
}

header .navbar .navbar-service img {
    height: 100%;
    width: 185px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

header .navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 17px;
    margin: 0 0.75rem;
    transition: all .3s ease-in-out;
    color: #fff;
    border: none;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

header .navbar.navbar-light .navbar-nav .active .nav-link,
header.scroll .navbar-light .navbar-nav .active .nav-link {
    color: #FE0000;

}

.navbar-nav .select-sm {
    background-color: #FE0000;
    color: #fff;
    padding: 0 0.5rem;
    margin-left: 1rem;
    border-radius: 0.15rem;
}

header .dropdown:hover .dropdown-menu {
    display: block;
    min-width: 5rem;
}

header.scroll {
    background-color: #fff;
    box-shadow: 0 0 10px #00000029;
    color: #40403f !important;
}

header.scroll .navbar-service img {
    content: url('../images/logo-with-white-bg.png');
}

header.scroll .navbar-light .navbar-nav .nav-link {
    color: #000;
}

header.scroll .navbar-light .navbar-nav .nav-link .btn.white,
header .navbar-light .second-header .navbar-nav .nav-link .btn.white {
    background: #ffe5e5;
    color: #000;
}

header.scroll .navbar-light .navbar-nav .nav-link .btn.white .svg-inline--fa,
header .navbar-light .second-header .navbar-nav .nav-link .btn.white .svg-inline--fa {
    color: #FE0000;
}

/* header.scroll .navbar-light .navbar-nav .nav-link .btn.white .select-sm {
    background: #fff;
    color: #000;
} */

header.scroll .navbar-light .navbar-nav .nav-link.btn,
header.scroll .navbar-light .navbar-nav .nav-link.cart-icon {
    color: #fff;
    border: none;
}

header.scroll .second-header {
    box-shadow: none;
    margin-top: 0;
}

.contain {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-icon {
    background: #FE0000;
    border-radius: 8px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sideCart {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 133333;
    top: 0;
    left: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 60px; */
    transition: 0.5s;
}

.sideCart .cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: auto;
}

.sideCart .closebtn {
    font-size: 36px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-total-items {
    height: 45px;
    width: 45px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.blur-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 3333;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Show Blur Overlay */
.blur-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Disable Scrolling */
body.no-scroll {
    overflow: hidden;
}

.sideCart-plate {
    display: flex;
    box-shadow: 4px 4px 12px 0 #00000033;
    border-radius: 24px;
    justify-content: space-between;
}

.qty {
    display: flex;
    align-items: center;
}

.dec,
.inc {
    background-color: #FE0000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.pro-dec {
    border: 2px solid #ddd;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro-inc {
    background-color: #FE0000;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    margin-inline: 0.5rem;
}

.sideCart-plate-img img {
    height: 135px;
    width: 100%;
    object-fit: contain;
}

.cart-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* breadcrumb */

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
}

.breadcrumb-item.active {
    color: #FE0000;
}

.breadcrumb-item {
    font-size: 1.25rem;
}

/* ****************************************************************************************** */
/* carousel basic style */
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    background-color: transparent !important;
    top: 0;
    bottom: 0;
    margin: auto;
}

.owl-nav .owl-prev {
    right: -5%;
}

.owl-nav .owl-next {
    left: -5%;
}

.owl-nav span {
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FE0000;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

/* Apply the animation to the modal */
.modal.fade.show .modal-dialog {
    animation: slideIn 0.5s ease-out;
}

.modal.fade .modal-dialog {
    animation: slideOut 0.5s ease-out;
}

.modal-content {
    border-radius: 1rem;
}

.form-control:focus,
.form-select:focus {
    border-color: #FE0000;
    outline: 0;
    box-shadow: none;
}

.form-select {
    background-position: left .75rem center;
    color: #808080;

}

.form-select option {
    color: #808080;
}

.fa-star {
    color: #FFB11C;
}

.bg-warning {
    background-color: #FFEBC5 !important;
}

/* ****************************************************************************************** */
/* intro section */

.intro {
    background: url(../images/intro-bg.png);
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro .overflow-plates {
    position: absolute;
    bottom: -5%;
    z-index: 9;
}

.intro .container .small-img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    transition: 0.5s ease;
}

.intro .container .small-img:hover {
    transform: scale(1.1);
    /* animation: shaking 0.4s infinite; */

}

.intro .container .small-img.left {
    object-position: right bottom;
}

.intro .container .small-img.right {
    object-position: left bottom;
}

.intro .container .big-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.intro .container .big-img:hover {
    transform: scale(1.2);

}

.intro::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    background: url(../images/Ellipse11.png) top no-repeat;
    z-index: 1;
    background-size: cover;
}

@keyframes shaking {
    0% {
        transform: translate(2px, 2px);
    }

    20% {
        transform: translate(3px, -2px);
    }

    40% {
        transform: translate(0px, 0px);
        transform: rotate(-3deg);
    }

    60% {
        transform: translate(3px, 0px);
        transform: rotate(0deg);
    }

    80% {
        transform: translate(3px, 2px);
        transform: rotate(3deg);
    }

    100% {
        transform: translate(0px, 0px);
        transform: rotate(0deg);
    }

}

/* .intro-curve{
    mask: radial-gradient(60% 98px at bottom, #0000 98%,  #000);
    background: #fff;
    height: 50px;
    position: relative;
    top: 0;
    z-index: -1;
} */
/* .overflow-plates{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: -20%;
} */
/* .overflow-plates img{
    width: 100%;
    height: 250px;
    object-fit: contain;
} */



.owl-slider img {
    width: 100%;
    height: 385px;
    object-fit: contain;
    filter: drop-shadow(4px 4px 5px #000);
}

.owl-slider .owl-item.active .slide-title {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.5s;
}

.owl-slider .item .slide-text {
    font-size: 24px;
}

.owl-slider .owl-item.active .slide-text {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInDown;
    animation-delay: 0.4s;
}

.owl-slider .owl-item.active .btn {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    animation-delay: 0.4s;
    font-size: 19px;
    font-weight: 600;
}

.owl-slider .owl-stage {
    padding-bottom: 3rem;
}

.owl-slider .owl-stage-outer {
    padding-block: 3rem;
}

.intro-img {
    position: relative;
    height: 420px;
}

.intro-img::before {
    content: "";
    position: absolute;
    top: -5%;
    r: 5%;
    height: 125%;
    width: 100%;
    background: url(../images/intro-plate-bg.png) left no-repeat;
    background-size: contain;
    z-index: -1;
}

/* ****************************************************************************************** */
/* categories section  */
.categories {
    background: url(../images/bg-small.png) no-repeat center #fdf9f9;
    mask: radial-gradient(60% 98px at TOP, #0000 98%, #f2f3f4);
    background-size: 100%;
}

.category-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 12px 0 #00000033;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;    */
    padding: 1.5rem;
    border-radius: 1.5rem;

}

.category-img img {
    height: 150px;
    object-fit: contain;
    width: 100%;
}


.categories-slider .owl-stage-outer {
    padding: 1rem;
}

.section-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.35rem;
    font-weight: 700;

}

.section-btn .icon {
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FE0000;
}

.categories-slider .owl-nav span {
    color: #FE0000;
    border: 1px solid #FE0000;
}

/* ****************************************************************************************** */
/* offers */
.offers {
    background: url(../images/bg.png) #FFEBC5;
}

.offers .item {
    align-items: center;
    border-radius: 1rem;
}

.offers .one {
    background: #FFB11C;
}

.offers .two {
    background: #FE0000;
}

.offers .three {
    background: #fff;
}

.offer-img {
    width: 100%;
    height: 185px;
    object-fit: contain;
}

/* ****************************************************************************************** */
/* plates */
.plate {
    box-shadow: 4px 4px 12px 0 #00000033;
    padding: 1.5rem;
    border-radius: 1.5rem;
    position: relative;
}

.plate .fav {
    width: 30px;
    height: 30px;
    border: 1px solid #f2f3f4;
    position: absolute;
    top: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FE0000;
}

.plate-img img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.plates-slider .owl-stage-outer {
    padding: 1rem;
}


.plates p {
    font-size: 1.25rem;
}

/* ****************************************************************************************** */
/* info */
.info .info-img img {
    width: 100%;
}

.info p {
    font-size: 1.5rem;
}

.info .btn {
    padding: 1rem 4.75rem;
    font-size: 1.75rem;
}

/* ****************************************************************************************** */
/* apps section */
.apps {
    background: url(../images/app-bg.png) top no-repeat #404040;
    color: #fff;
    background-size: cover;
}

.app-store-btn,
.google-play-btn {
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    padding-inline: 1rem;
    border-radius: 10px;
    text-align: right;
    margin-right: 1rem;
}

.app-store-btn .fa-apple,
.google-play-btn .fa-google-play {
    font-size: 30px;
    margin-left: 10px;
}

.apps-img {
    /* width: 75%; */
    height: 396px;
    object-fit: cover;
    object-position: top;
}

/* ****************************************************************************************** */
/* footer */
footer {
    position: relative;
}

footer .footer-curve {
    background: #BF0000;
    color: #fff;
    mask: radial-gradient(80% 98px at TOP, #0000 98%, #000);
    height: 125px;
    position: relative;
    top: 0;
    z-index: -1;
}

footer .footer {
    background: #BF0000;
    color: #fff;
}

footer ul {
    line-height: 2.5;
}

footer .icon {
    background: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: #bf0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 100%;
    height: 135px;
    object-fit: contain;

}

.footer-logo {
    background: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.copywrite {
    background: #fff;
    text-align: center;
    color: #000;
    font-weight: 500;
    padding-block: 0.5rem;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media svg {
    font-size: 1.5rem;
}

/* shop page */
.plates .nav-link {
    border-radius: 24px;
    background: #fff;
    box-shadow: 4px 4px 12px 0 #00000033;
    margin-right: 1rem;
    color: #000;
    font-weight: 700;
}

.plates .nav-link.active {
    background-color: #FE0000;
}

.category-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.category-button img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

/* cart page */
.card {
    border: 0;
    box-shadow: 4px 4px 12px 0 #00000033;
    border-radius: 18px;
    /* overflow: hidden; */
}

.card-header {
    border: 0;
    padding: 1rem;
}

.order-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.total {
    display: flex;
    justify-content: space-between;
}

.checkout-page .form-check {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    align-items: center;
}

.checkout-page .form-check img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

/* login-register modal style  */

.login-background {
    position: relative;
    background: url(../images/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
    background-color: #FFEBC5;

}

.login-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-side {
    box-shadow: 0px 4px 12px 0px #0000001A;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1000;
}

.form-control {
    position: relative;
    border-radius: 10px !important;
    padding: 0.75rem;

}

.input-group input {
    border: 1px solid #DFDFDF;
}

.input-group-eye {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #808080;
    display: block;
    cursor: pointer;
    z-index: 10;
}

input::placeholder {
    font-size: 13px;
    font-weight: 400;
}

.country-dropdown {
    background-color: transparent;
    border: 1px solid #DFDFDF;
    border-radius: 10px !important;
}

a:hover {
    cursor: pointer;
}

.social-media-btn {
    box-shadow: none;
    border-radius: 10px;
    background-color: #FAFAFA;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
    padding: 0.3rem 3rem;
}

/* forget-reset-pass styles  */

.back-home:hover {
    color: #BF0000;
}

.back-home {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.back-arrow-img {
    transition: transform 0.3s ease-in-out;
}

.back-home:hover .back-arrow-img {
    transform: translateX(-5px);
}

.forget-pass .container {
    max-width: 80rem;
}

.forget-pass .login-background img {
    max-height: 550px;
    width: 100%;
    object-fit: contain;
}

.bg-gray {
    background-color: #FAFAFA;
}

.bg-white {
    background-color: #FFFFFF;
}


.forget-pass .meat {
    position: absolute;
    top: 165px;
    left: 0px;
}

.forget-pass .spoon {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* otp password styles  */
.code-input {
    direction: ltr;
    text-align: end;
}

.code-input input {
    width: 3.5rem;
    height: 3rem;
    text-align: center;
    border: 2px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.code-input input:focus {
    border-color: #B10303;
}

#timer {
    color: #000;
    font-weight: 700;
}

#codeDisplay {
    font-size: 24px;
    margin-bottom: 20px;
}

/* ****************************************************************************************** */

/* rate-comment-page  */
.rate-side {
    box-shadow: 4px 4px 12px 0px #00000014;
    /* box-shadow: -4px -4px 12px 0px #00000014; */
    border-radius: 10px;
}

.container-faces {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating>input {
    display: none;
}

.rating>label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
}

.emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper:after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.emoji>svg {
    margin: 15px 0;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
    transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
    transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
    transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
    transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
    transform: translateY(-500px);
}

.feedback {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #dfdfdf7d;
    color: white;
}

.accordion-body {
    background-color: #dfdfdf7d;
    color: #333;
    padding: 20px;
}

.accordion-collapse {
    transition: all 0.3s ease;
}

.accordion-button:not(.collapsed)::after,
.accordion-button.collapsed::after {
    color: black !important;
}

/* product-details */
.product-details {
    background-color: #f2f3f4;
    padding: 1.5rem;
}

.choices {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.form-check {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    min-height: 2rem;
}

.form-check .form-check-input {
    float: none;
    margin-right: 0.5rem;
}

.form-check-input:checked {
    background-color: #FE0000;
    border-color: #FE0000;
}

.form-check-input:focus {
    box-shadow: none;
}

.product {
    background: #f2f3f4;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.form-floating>label {
    left: 0;
    right: auto;
}

.product .product-img img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* follow request page */

.wizard,
.wizard .nav-tabs,
.wizard .nav-tabs .nav-item {
    position: relative;
}

.wizard .nav-tabs {
    border: none;
    position: relative;
}

.wizard .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: 0;
    z-index: 1000;
}

.wizard .nav-tabs::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: -1;
}

.wizard .nav-tabs .nav-item .nav-link {
    width: 4rem;
    height: 4rem;
    background: white;
    border: 2px solid #ccc;
    color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 25px;
}

.wizard .nav-tabs .nav-item .nav-link:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs .nav-item .nav-link.active {
    background: #fe0000;
    border: 2px solid #fe0000;
    color: #ffffff;
}

.bg-dark-gray {
    background-color: #DFDFDF4D;
    border-radius: 10px;
}

/* contact-us page  */
.contact-us img {
    width: 20rem;
}

.custom-border {
    position: relative;
}

.custom-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 50%;
    height: 2px;
    background-color: red;
    transform: translateX(-50%);
}

.payment-way {
    border: 1px solid #DFDFDF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 9px;

}

/* profile page */
.profile .nav-pills .nav-link {
    margin-block: 0.5rem;
    color: #000;
    padding: 0 0.5rem;
    font-weight: 700;
    text-align: left;
    border-radius: 0;
    border-right: 3px solid transparent;

}

.profile .nav-pills .nav-link.active,
.profile .nav-pills .show>.nav-link {
    color: #f10909;
    background-color: transparent;
    border-right: 3px solid #f10909;
}

.form-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #6c757d;
}

.search-group {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    padding: 0 0.75rem;
    border-radius: 10px !important;
}

.search-group .form-control {
    border: none;
}

.position-relative .form-select {
    padding-right: 2.5rem;
}

input::placeholder {
    color: #999;
    font-size: 1rem;
    overflow: visible;
}

/* profile pop up */
.profile-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* addresses page */
.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f10909;
}

.dropdown-item {
    text-align: left;
}

.noAddress-img {
    width: 100%;
    height: 80px;
    object-fit: contain;
}

/* delivery modal */
.icon img {
    height: 25px;
    width: 100%;
    object-fit: contain;
}

.delivery-modal .main-pills .nav-link .icon {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #fe0000;

}

.delivery-modal .main-pills .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-modal .main-pills .nav-link {
    color: #fe0000;
    background-color: transparent;
    border: 1px solid #FE0000;
    border-radius: 0.75rem;
    padding: 0.25rem 2.25rem;
}

.delivery-modal .main-pills .nav-link.active,
.delivery-modal .main-pills .show>.nav-link {
    color: #fff;
    background-color: #FE0000;
    border: 1px solid transparent;
}

.delivery-modal .main-pills .nav-link.active .icon,
.delivery-modal .main-pills .show>.nav-link .icon {
    background: #fff;

}

.delivery-modal .delivery-places .nav-link {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    margin-right: 0.75rem;
}

.delivery-modal .delivery-places .nav-link.active,
.delivery-modal .delivery-places .show>.nav-link {
    background: #FE0000;
    color: #fff;
    border: 1px solid transparent;
}

.first-phase iframe {
    width: 100%;
}

.map .notes {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background: #DFDFDF;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* searc input design  */
.search-form {
    position: relative;
}

.search-input {
    padding-right: 40px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #afa8a8;
    font-size: 17px;
    pointer-events: none;
}

.border-red {
    border: 1px solid #fe0000;
    border-radius: 20px;
    padding: 10px;
}

.flag-icon {
    width: 20px;
    height: 14px;
    margin-left: 8px;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
}

.bootstrap-select .dropdown-toggle .filter-option {
    direction: rtl;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: auto;
}
.bs-searchbox .form-control{
    padding: .375rem .75rem;
}
.bootstrap-select .dropdown-menu.inner {
    direction: rtl;
}
.dropdown-toggle::after {
    margin-left: .55em;
}

.location-modal img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
/* coupons page */
.coupons .nav-pills .nav-link {
    color: #fe0000;
    background-color: transparent;
    border: 1px solid #FE0000;
    border-radius: 0.75rem;
    padding: 0.75rem;   
    width: 80%;
   
}

.coupons .nav-pills .nav-link.active,
.coupons .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FE0000;
    border: 1px solid transparent;
}
.card.disabled .card-body{
    filter: grayscale(1) opacity(0.3);
}
/* responsive */
/* responsive */
@media(max-width: 1440px) {
    .intro-img {
        height: 310px;
    }
    .owl-slider img {
        height: 275px;
        margin-inline: 70px;
    }
    .big-img {
        height: 220px !important;
    }
    .intro .container .small-img {
        height: 190px;
    }
    .intro::after {
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 120px;
    }
    .intro .overflow-plates {
        bottom: 1%;
        z-index: 9;
    }
    .info .info-img img {
        height: 330px;
    }
    .apps-img {
        height: 320px;
    }
    .code-input input {
        width: 3.2rem;
        height: 3rem;
    }
    .contact-us img {
        width: 18rem;
    }
    footer .footer-curve {
        background: #BF0000;
        color: #fff;
        mask: radial-gradient(55% 45px at TOP, #0000 98%, #000);
        height: 39px;
        position: relative;
        top: 0;
        z-index: -1;
    }
}
@media(max-width:1200px) {
    header .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        margin: 0px 0.50rem;
    }
    header .navbar .navbar-service img {
        width: 170px;
    }
}
@media(max-width: 992px) {
    .owl-slider img {
        height: 275px;
        margin-inline: 0px;
    }
    .intro-img {
        height: 295px;
        margin-inline: 125px;
    }
    .intro::after {
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 90px;
    }
    .intro::after {
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 90px;
    }
    .apps-img {
        height: 255px;
    }
    .app-store-btn, .google-play-btn {
        padding-inline: 0.rem;
        border-radius: 10px;
        margin-left: 1rem;
        margin-bottom: 12px;
    }
    .info .info-img img {
        height: 280px;
    }
}

@media(max-width: 772px) {
    .apps-img {
        height: 220px;
    }
    .footer-logo {
        width: 100px;
        height: 100px;
        top: -10%;
        right: 7px;
    }
    .app-store-btn .fa-apple, .google-play-btn .fa-google-play {
        font-size: 25px;
        margin-right: 55px;
    }
    .app-store-btn, .google-play-btn {
        padding-inline: 1rem;
        margin-left: 1rem;
        margin-bottom: 15px;
    }
    footer .footer-curve {
        height: 24px;
        top: 0;
    }
    .intro::after {
        bottom: -5%;
        left: 0;
        right: 0;
        height: 80px;
    }
    .big-img {
        height: 160px !important;
    }
    .intro .container .small-img {
        height: 125px;
    }
    .owl-slider img {
        height: 225px;
        margin-inline: 0px;
    }
    .intro-img {
        height: 240px;
    }
    .info .info-img img {
        height: 260px;
    }
    .owl-slider img {
        height: 225px;
        margin-inline: 150px;
    }
}

@media(max-width: 425px) {
    .owl-slider img {
        height: 165px;
        margin-inline: 0px;
        margin-top: 10px;
    }
  .slide-title {
        margin-top: 101px;
    }
    .categories-slider .owl-stage-outer, .categories-slider .owl-stage-outer {
        padding: 0rem;
    }
    .nav-link {
        padding: 0.1rem 1.1rem;
    }
    .apps-img {
        height: 175px;
    }
    .footer-logo {
        width: 80px;
        height: 80px;
        top: -5%;
        right: 2px;
    }
    .info .info-img img {
        display: none;
    }
    .plate-img img {
        height: 145px;
    }
    .offer-img {
        height: 145px;
    }
    .intro .overflow-plates {
        display: none;
    }
    .info .btn-lg {
        padding: 0.5rem 2rem;
        font-size: 1rem;
    }
    .apps-img {
        height: 155px;
    }
}

@media(max-width: 375px) {
    .intro .overflow-plates {
   display: none;
    }

    .owl-slider img {
        height: 185px;
        margin-inline: 0px;
        margin-top: 34px;
    }
    .intro::after {
        bottom: -2%;
        left: 0;
        right: 0;
        height: 60px;
    }
    .plates-slider .owl-stage-outer {
      padding: 0rem; 
    }
    .plate-img img {
        height: 140px;
    }
    .offer-img {
        height: 140px;
    }
    .offer-img {
        height: 140px;
    }
    .info .info-img img {
        display: none;
    }
    .info .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    .cart-btn {
        height: 40px;
        width: 40px;
    }
    .apps-img {
        height: 145px;
    }
    .app-store-btn, .google-play-btn {
        padding-inline: 1rem;
        margin-left: 0rem;
        margin-bottom: 10px;
    }
    .footer-logo {
        width: 80px;
        height: 80px;
        top: -3%;
        right: 1px;
    }
    .intro .owl-carousel .owl-item img {
        display: none;
    }
    .intro  .intro-img {
        display: none;
    }
    .intro {
        height: 70vh;
    }
    .intro::after {
        bottom: -5%;
        height: 60px;
    }
    .owl-slider .owl-stage-outer {
        padding-block: 0rem;
    }
    header .navbar .navbar-service img {
        width: 145px;
    }
}

